VITE_API_IDENTITY_URL=http://localhost:8000
VITE_API_PHRASAL_VERBS_URL=http://localhost:8001
VITE_API_PREPOSITIONS_URL=http://localhost:8002
VITE_API_CHAT_PRACTICE_URL=http://localhost:8003
VITE_API_GERMAN_NOUNS_URL=http://localhost:8004
VITE_API_GERMAN_VERBS_URL=http://localhost:8005
